* {
  margin: 0;
  padding: 0;
}

/* Basic styles, change according to your style */

#start-page,
#lose-page,
#win-page {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
  color: white;
}

#start-page {
  background-image: url("../img/gameMenu.png");
  background-size: 1000px;
  text-align: center;
  }

#lose-page {
  background-image: url("../img/losePage2.png");
  background-size: 1100px;
}

#win-page {
  background-image: url("../img/winPage.png");
  background-size: 1500px;
  justify-content: flex-start;
  padding-top: 30px;
  background-repeat: no-repeat;
}

body {
  background-color: black;
}

#lose-page,
#win-page {
  display: none;
}

canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}